body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.mainScreen {
  background-image: url("/src/assets/fundo.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97vw;
  height: 97vh;
  margin: 0;
}

.image {
  width: 70vw;
  height: 100%;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContainer {
  height: 45vw;
  width: 30vw;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 25vw;
  height: 50vh;
  opacity: 0.8;
}

.msgDashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 10px;
  width: 25vw;
  height: 10vh;
  opacity: 0.8;
}

.formInput {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.formTitulo {
  padding-top: 15px;
  background-color: black;
  color: white;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.2rem;
}

#app {
  margin-top: 0;
  width: 97vw;
  height: 100vh;
}

.about {
  background-image: url("/src/assets/fundo.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100%;
  height: 36vw;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

main {
}

.internBox {
  margin-left: 25%;
  border: 0px solid black;
  width: 50%;
  align-items: center;
  justify-content: center;
  min-height: 74vh;
}

.titleList {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.titleListWord {
  width: 70%;
}

.titleListButton {
  width: 30%;
}

.contentList {
  width: 100%;
  height: 600px;
  place-items: top;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.formIntern {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 50%;
}
