body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.mainScreen {
  border: 0px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 70vw;
  height: 100%;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContainer {
  height: 45vw;
  width: 30vw;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border: 2px solid black;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  padding: 15px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.formTitulo {
  background-color: black;
  color: white;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  margin-top: 0;
  width: 97vw;
  height: 100vh;
}

.about {
  display: flex;
  width: 100%;
  height: 36vw;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

main {
}

.internBox {
  margin-left: 25%;
  border: 0px solid black;
  width: 50%;
  align-items: center;
  justify-content: center;
  min-height: 74vh;
}

.titleList {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.titleListWord {
  width: 70%;
}

.titleListButton {
  width: 30%;
}

.contentList {
  width: 100%;
  height: 600px;
  place-items: top;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formIntern {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 70%;
  height: 50%;
}
